In [1]:
import os
import pandas as pd

# Look up the AKI label in imputed_demo_data.xlsx for that patient’s ID.

# Load the Excel that has 'ID' and 'Acute_kidney_injury'
df_labels = pd.read_excel("imputed_demo_data.xlsx")
df_labels = df_labels[["ID", "Acute_kidney_injury"]].drop_duplicates()

# Make a dictionary for quick lookup of the label
label_dict = dict(zip(df_labels["ID"], df_labels["Acute_kidney_injury"]))

In [2]:
label_dict

{'R00118': 0.0,
 'R00627': 0.0,
 'R04519': 0.0,
 'R06096': 0.0,
 'R06923': 1.0,
 'R07008': 0.0,
 'R07366': 0.0,
 'R07653': 0.0,
 'R08046': 0.0,
 'R08594': 0.0,
 'R11664': 0.0,
 'R14110': 0.0,
 'R14244': 0.0,
 'R15971': 0.0,
 'R17156': 0.0,
 'R18283': 0.0,
 'R24195': 0.0,
 'R25239': 0.0,
 'R26666': 0.0,
 'R27034': 0.0,
 'R27338': 0.0,
 'R28251': 0.0,
 'R28536': 0.0,
 'R29821': 0.0,
 'R31132': 1.0,
 'R35378': 0.0,
 'R36397': 1.0,
 'R37681': 0.0,
 'R38174': 0.0,
 'R38966': 0.0,
 'R40555': 0.0,
 'R40759': 0.0,
 'R41199': 0.0,
 'R44253': 0.0,
 'R47647': 0.0,
 'R49153': 0.0,
 'R50211': 0.0,
 'R52548': 0.0,
 'R52884': 0.0,
 'R53601': 0.0,
 'R55544': 0.0,
 'R56879': 0.0,
 'R57506': 0.0,
 'R59147': 0.0,
 'R60191': 0.0,
 'R60712': 0.0,
 'R60755': 0.0,
 'R60882': 0.0,
 'R64659': 0.0,
 'R65241': 0.0,
 'R65313': 1.0,
 'R66662': 0.0,
 'R67677': 0.0,
 'R68199': 0.0,
 'R68685': 0.0,
 'R71310': 0.0,
 'R72890': 0.0,
 'R74993': 1.0,
 'R75465': 0.0,
 'R75753': 0.0,
 'R77330': 0.0,
 'R80255': 0.0,
 'R80815': 0.0,
 'R81262': 0.0,
 'R81960': 0.0,
 'R82964': 0.0,
 'R83711': 1.0,
 'R83967': 0.0,
 'R86505': 0.0,
 'R87777': 0.0,
 'R87799': 1.0,
 'R87848': 0.0,
 'R88103': 0.0,
 'R88492': 0.0,
 'R89144': 0.0,
 'R89186': 0.0,
 'R89708': 0.0,
 'R90013': 0.0,
 'R90160': 0.0,
 'R90228': 1.0,
 'R90437': 1.0,
 'R90442': 0.0,
 'R90448': 0.0,
 'R90508': 0.0,
 'R90614': 0.0,
 'R90694': 0.0,
 'R90710': 0.0,
 'R90714': 0.0,
 'R90789': 0.0,
 'R90843': 0.0,
 'R90872': 0.0,
 'R90901': 0.0,
 'R90950': 0.0,
 'R90973': 0.0,
 'R90986': 0.0,
 'R91071': 0.0,
 'R91236': 0.0,
 'R91254': 1.0,
 'R91305': 0.0,
 'R91338': 0.0,
 'R91355': 0.0,
 'R91359': 0.0,
 'R91481': 0.0,
 'R91510': 0.0,
 'R91544': 1.0,
 'R91737': 0.0,
 'R91748': 0.0,
 'R91806': 0.0,
 'R91825': 0.0,
 'R91855': 0.0,
 'R91904': 0.0,
 'R91918': 0.0,
 'R91920': 0.0,
 'R91927': 0.0,
 'R91952': 0.0,
 'R91982': 0.0,
 'R91996': 0.0,
 'R92023': 0.0,
 'R92038': 0.0,
 'R92062': 1.0,
 'R92092': 0.0,
 'R92136': 0.0,
 'R92241': 0.0,
 'R92258': 0.0,
 'R92345': 0.0,
 'R92444': 0.0,
 'R92450': 0.0,
 'R92461': 0.0,
 'R92573': 0.0,
 'R92629': 0.0,
 'R92656': 0.0,
 'R92662': 0.0,
 'R92694': 0.0,
 'R92698': 0.0,
 'R92718': 0.0,
 'R92737': 0.0,
 'R92739': 0.0,
 'R92824': 0.0,
 'R92954': 0.0,
 'R93108': 0.0,
 'R93140': 0.0,
 'R93242': 0.0,
 'R93334': 0.0,
 'R93354': 0.0,
 'R93382': 0.0,
 'R93462': 0.0,
 'R93473': 0.0,
 'R93563': 0.0,
 'R93588': 0.0,
 'R93612': 0.0,
 'R93664': 0.0,
 'R93672': 0.0,
 'R93711': 0.0,
 'R93754': 0.0,
 'R93762': 0.0,
 'R93843': 0.0,
 'R93854': 0.0,
 'R93962': 1.0,
 'R93983': 1.0,
 'R94056': 0.0,
 'R94062': 0.0,
 'R94077': 0.0,
 'R94081': 0.0,
 'R94097': 0.0,
 'R94160': 0.0,
 'R94191': 0.0,
 'R94244': 0.0,
 'R94291': 0.0,
 'R94315': 0.0,
 'R94330': 0.0,
 'R94363': 0.0,
 'R94383': 0.0,
 'R94436': 1.0,
 'R94449': 0.0,
 'R94456': 0.0,
 'R94470': 0.0,
 'R94476': 0.0,
 'R94508': 0.0,
 'R94540': 0.0,
 'R94565': 0.0,
 'R94628': 0.0,
 'R94649': 0.0,
 'R94668': 1.0,
 'R94715': 0.0,
 'R94734': 0.0,
 'R94833': 0.0,
 'R94843': 0.0,
 'R94865': 1.0,
 'R94910': 0.0,
 'R94928': 0.0,
 'R94930': 0.0,
 'R94934': 0.0,
 'R94971': 0.0,
 'R95002': 1.0,
 'R95010': 0.0,
 'R95025': 0.0,
 'R95141': 0.0,
 'R95143': 1.0,
 'R95185': 0.0,
 'R95210': 0.0,
 'R95273': 0.0,
 'R95295': 0.0,
 'R95326': 0.0,
 'R95348': 0.0,
 'R95360': 0.0,
 'R95403': 0.0,
 'R95406': 0.0,
 'R95460': 0.0,
 'R95516': 0.0,
 'R95530': 0.0,
 'R95582': 0.0,
 'R95601': 0.0,
 'R95667': 0.0,
 'R95729': 0.0,
 'R95807': 0.0,
 'R95834': 0.0,
 'R95938': 0.0,
 'R95994': 0.0,
 'R96025': 0.0,
 'R96052': 0.0,
 'R96059': 0.0,
 'R96084': 0.0,
 'R96132': 0.0,
 'R96138': 0.0,
 'R96158': 0.0,
 'R96301': 0.0,
 'R96305': 0.0,
 'R96344': 0.0,
 'R96359': 0.0,
 'R96388': 0.0,
 'R96527': 0.0,
 'R96544': 0.0,
 'R96570': 0.0,
 'R96594': 0.0,
 'R96639': 0.0,
 'R96651': 0.0,
 'R96676': 0.0,
 'R96684': 0.0,
 'R96688': 0.0,
 'R96725': 0.0,
 'R96757': 0.0,
 'R96758': 0.0,
 'R96772': 0.0,
 'R96777': 0.0,
 'R96821': 1.0,
 'R96833': 0.0,
 'R96868': 0.0,
 'R96871': 1.0,
 'R96872': 1.0,
 'R96903': 1.0,
 'R96976': 1.0,
 'R96980': 0.0,
 'R97105': 0.0,
 'R97108': 0.0,
 'R97187': 0.0,
 'R97192': 0.0,
 'R97197': 0.0,
 'R97281': 0.0,
 'R97355': 1.0,
 'R97437': 0.0,
 'R97440': 0.0,
 'R97459': 0.0,
 'R97521': 0.0,
 'R97605': 0.0,
 'R97612': 0.0,
 'R97613': 0.0,
 'R97639': 0.0,
 'R97689': 0.0,
 'R97741': 1.0,
 'R97748': 0.0,
 'R97765': 0.0,
 'R97910': 0.0,
 'R97920': 0.0,
 'R97954': 0.0,
 'R97999': 0.0,
 'R98016': 1.0,
 'R98054': 0.0,
 'R98056': 0.0,
 'R98062': 0.0,
 'R98079': 0.0,
 'R98105': 0.0,
 'R98164': 0.0,
 'R98175': 0.0,
 'R98221': 0.0,
 'R98296': 0.0,
 'R98355': 0.0,
 'R98362': 0.0,
 'R98366': 1.0,
 'R98405': 0.0,
 'R98408': 0.0,
 'R98433': 1.0,
 'R98499': 0.0,
 'R98520': 0.0,
 'R98561': 0.0,
 'R98673': 0.0,
 'R98676': 0.0,
 'R98682': 0.0,
 'R98683': 0.0,
 'R98692': 0.0,
 'R98707': 1.0,
 'R98727': 0.0,
 'R98735': 0.0,
 'R98742': 0.0,
 'R98765': 0.0,
 'R98774': 0.0,
 'R98800': 0.0,
 'R98805': 0.0,
 'R98860': 0.0,
 'R98948': 0.0,
 'R98961': 0.0,
 'R98963': 0.0,
 'R98973': 1.0,
 'R99006': 0.0,
 'R99018': 0.0,
 'R99020': 0.0,
 'R99057': 0.0,
 'R99059': 0.0,
 'R99066': 0.0,
 'R99116': 0.0,
 'R99185': 0.0,
 'R99241': 0.0,
 'R99259': 0.0,
 'S00388': 1.0,
 'S00403': 0.0,
 'S00424': 0.0,
 'S00436': 1.0,
 'S00470': 0.0,
 'S00490': 0.0,
 'S00496': 0.0,
 'S00552': 0.0,
 'S00556': 1.0,
 'S00582': 1.0,
 'S00616': 0.0,
 'S00699': 0.0,
 'S00711': 0.0,
 'S00732': 0.0,
 'S00794': 0.0,
 'S00800': 1.0,
 'S00824': 0.0,
 'S00836': 0.0,
 'S00883': 0.0,
 'S00978': 0.0,
 'S00980': 0.0,
 'S00981': 0.0,
 'S01023': 0.0,
 'S01026': 0.0,
 'S01032': 0.0,
 'S01042': 0.0,
 'S01054': 0.0,
 'S01091': 0.0,
 'S01121': 0.0,
 'S01145': 0.0,
 'S01230': 0.0,
 'S01244': 0.0,
 'S01248': 0.0,
 'S01254': 1.0,
 'S01269': 0.0,
 'S01297': 1.0,
 'S01331': 0.0,
 'S01411': 0.0,
 'S01417': 0.0,
 'S01450': 0.0,
 'S01487': 0.0,
 'S01490': 0.0,
 'S01495': 0.0,
 'S01505': 0.0,
 'S01511': 0.0,
 'S01577': 0.0,
 'S01582': 0.0,
 'S01655': 0.0,
 'S01700': 0.0,
 'S01740': 0.0,
 'S01757': 0.0,
 'S01825': 0.0,
 'S01886': 0.0,
 'S01907': 0.0,
 'S01931': 0.0,
 'S01937': 0.0,
 'S01938': 0.0,
 'S01943': 0.0,
 'S01979': 1.0,
 'S01999': 1.0,
 'S02029': 0.0,
 'S02047': 0.0,
 'S02069': 0.0,
 'S02097': 0.0,
 'S02100': 0.0,
 'S02111': 0.0,
 'S02118': 0.0,
 'S02144': 0.0,
 'S02147': 1.0,
 'S02155': 0.0,
 'S02179': 0.0,
 'S02232': 0.0,
 'S02236': 0.0,
 'S02314': 0.0,
 'S02417': 0.0,
 'S02424': 0.0,
 'S02450': 0.0,
 'S02452': 0.0,
 'S02503': 0.0,
 'S02527': 0.0,
 'S02551': 0.0,
 'S02576': 0.0,
 'S02602': 0.0,
 'S02605': 0.0,
 'S02607': 0.0,
 'S02609': 0.0,
 'S02629': 1.0,
 'S02666': 0.0,
 'S02709': 0.0,
 'S02777': 0.0,
 'S02843': 0.0,
 'S02851': 0.0,
 'S02866': 0.0,
 'S02960': 0.0,
 'S02981': 0.0,
 'S02986': 0.0,
 'S03013': 0.0,
 'S03028': 0.0,
 'S03084': 0.0,
 'S03091': 0.0,
 'S03098': 0.0,
 'S03142': 0.0,
 'S03171': 0.0,
 'S03258': 0.0,
 'S03260': 0.0,
 'S03264': 0.0,
 'S03319': 1.0,
 'S03337': 0.0,
 'S03344': 0.0,
 'S03393': 0.0,
 'S03460': 0.0,
 'S03497': 0.0,
 'S03581': 0.0,
 'S03589': 0.0,
 'S03621': 0.0,
 'S03642': 0.0,
 'S03646': 0.0,
 'S03657': 0.0,
 'S03677': 0.0,
 'S03710': 0.0,
 'S03740': 0.0,
 'S03748': 0.0,
 'S03749': 0.0,
 'S03881': 0.0,
 'S03888': 0.0,
 'S03890': 0.0,
 'S03893': 0.0,
 'S03938': 0.0,
 'S03960': 0.0,
 'S03978': 1.0,
 'S03999': 1.0,
 'S04047': 0.0,
 'S04052': 0.0,
 'S04089': 0.0,
 'S04116': 0.0,
 'S04129': 0.0,
 'S04145': 0.0,
 'S04163': 0.0,
 'S04172': 0.0,
 'S04176': 0.0,
 'S04197': 0.0,
 'S04239': 0.0,
 'S04267': 0.0,
 'S04285': 0.0,
 'S04341': 0.0,
 'S04401': 0.0,
 'S04428': 0.0,
 'S04439': 0.0,
 'S04445': 0.0,
 'S04452': 0.0,
 'S04476': 0.0,
 'S04559': 0.0,
 'S04746': 0.0,
 'S04816': 0.0,
 'S04848': 0.0,
 'S04861': 0.0,
 'S04873': 0.0,
 'S04993': 0.0,
 'S05007': 0.0,
 'S05104': 0.0,
 'S05111': 0.0,
 'S05132': 0.0,
 'S05135': 0.0,
 'S05168': 0.0,
 'S05178': 0.0,
 'S05193': 0.0,
 'S05196': 0.0,
 'S05198': 0.0,
 'S05203': 0.0,
 'S05279': 0.0,
 'S05283': 0.0,
 'S05321': 0.0,
 'S05484': 0.0,
 'S05503': 0.0,
 'S05536': 0.0,
 'S05543': 0.0,
 'S05668': 0.0,
 'S05757': 0.0,
 'S05783': 0.0,
 'S05791': 1.0,
 'S05895': 0.0,
 'S05902': 0.0,
 'S05907': 0.0,
 'S05930': 1.0,
 'S05982': 1.0,
 'S06013': 0.0,
 'S06032': 0.0,
 'S06083': 0.0,
 'S06141': 0.0,
 'S06158': 0.0,
 'S06190': 0.0,
 'S06192': 0.0,
 'S06226': 1.0,
 'S06264': 1.0,
 'S06267': 1.0,
 'S06322': 0.0,
 'S06357': 0.0,
 'S06398': 0.0,
 'S06416': 0.0,
 'S06455': 0.0,
 'S06495': 0.0,
 'S06522': 0.0,
 'S06621': 0.0,
 'S06695': 0.0,
 'S06702': 0.0,
 'S06703': 0.0,
 'S06739': 0.0,
 'S06795': 0.0,
 'S06813': 0.0,
 'S06822': 0.0,
 'S06829': 0.0,
 'S06836': 0.0,
 'S06837': 0.0,
 'S06860': 0.0,
 'S06963': 0.0,
 'S06977': 0.0,
 'S06994': 0.0,
 'S06995': 0.0,
 'S07043': 0.0,
 'S07058': 1.0,
 'S07059': 0.0,
 'S07135': 0.0,
 'S07398': 1.0,
 'S07407': 0.0,
 'S07424': 0.0,
 'S07430': 0.0,
 'S07458': 0.0,
 'S07465': 0.0,
 'S07562': 0.0,
 'S07572': 0.0,
 'S07621': 0.0,
 'S07797': 0.0,
 'S07823': 0.0,
 'S07836': 0.0,
 'S07900': 0.0,
 'S07907': 0.0,
 'S07930': 0.0,
 'S07981': 0.0,
 'S08002': 0.0,
 'S08029': 0.0,
 'S08081': 0.0,
 'S08135': 0.0,
 'S08299': 0.0,
 'S08303': 0.0,
 'S08319': 0.0,
 'S08358': 0.0,
 'S08370': 0.0,
 'S08375': 0.0,
 'S08386': 0.0,
 'S08462': 0.0,
 'S08474': 0.0,
 'S08509': 0.0,
 'S08554': 0.0,
 'S08562': 0.0,
 'S08610': 1.0,
 'S08654': 0.0,
 'S08705': 1.0,
 'S08851': 0.0,
 'S08908': 0.0,
 'S08912': 0.0,
 'S08943': 0.0,
 'S09074': 0.0,
 'S09081': 0.0,
 'S09130': 0.0,
 'S09152': 0.0,
 'S09373': 0.0,
 'S09381': 0.0,
 'S09441': 1.0,
 'S09477': 0.0,
 'S09486': 0.0,
 'S09491': 0.0,
 'S09510': 1.0,
 'S09571': 1.0,
 'S09578': 0.0,
 'S09617': 0.0,
 'S09623': 0.0,
 'S09707': 0.0,
 'S09762': 0.0,
 'S09776': 0.0,
 'S09944': 0.0,
 'S10038': 0.0,
 'S10040': 0.0,
 'S10059': 0.0,
 'S10064': 1.0,
 'S10081': 1.0,
 'S10147': 0.0,
 'S10154': 0.0,
 'S10177': 0.0,
 'S10185': 0.0,
 'S10279': 0.0,
 'S10298': 0.0,
 'S10320': 0.0,
 'S10346': 0.0,
 'S10599': 0.0,
 'S10647': 0.0,
 'S10690': 0.0,
 'S10741': 1.0,
 'S10886': 0.0,
 'S10914': 0.0,
 'S10967': 0.0,
 'S10971': 0.0,
 'S10972': 1.0,
 'S11010': 0.0,
 'S11102': 0.0,
 'S11110': 0.0,
 'S11155': 0.0,
 'S11209': 0.0,
 'S11233': 0.0,
 'S11277': 0.0,
 'S11287': 1.0,
 'S11308': 0.0,
 'S11408': 0.0,
 'S11443': 0.0,
 'S11453': 0.0,
 'S11495': 0.0,
 'S11575': 0.0,
 'S11604': 1.0,
 'S11609': 0.0,
 'S11615': 0.0,
 'S11651': 1.0,
 'S11675': 0.0,
 'S11702': 0.0,
 'S11710': 0.0,
 'S11784': 1.0,
 'S11799': 0.0,
 'S11830': 0.0,
 'S11852': 0.0,
 'S11872': 0.0,
 'S11903': 0.0,
 'S11938': 0.0,
 'S11945': 1.0,
 'S11948': 0.0,
 'S11996': 0.0,
 'S12041': 0.0,
 'S12132': 0.0,
 'S12165': 0.0,
 'S12196': 0.0,
 'S12232': 1.0,
 'S12279': 0.0,
 'S12317': 0.0,
 'S12358': 0.0,
 'S12394': 0.0,
 'S12437': 0.0,
 'S12494': 0.0,
 'S12497': 0.0,
 'S12507': 0.0,
 'S12510': 0.0,
 'S12561': 0.0,
 'S12611': 0.0,
 'S12612': 0.0,
 'S12617': 0.0,
 'S12643': 1.0,
 'S12685': 0.0,
 'S12794': 0.0,
 'S12899': 0.0,
 'S12900': 0.0,
 'S12942': 0.0,
 'S12985': 0.0,
 'S13029': 1.0,
 'S13040': 0.0,
 'S13054': 0.0,
 'S13070': 0.0,
 'S13075': 0.0,
 'S13116': 0.0,
 'S13119': 0.0,
 'S13161': 0.0,
 'S13176': 0.0,
 'S13202': 0.0,
 'S13261': 0.0,
 'S13273': 0.0,
 'S13326': 0.0,
 'S13329': 1.0,
 'S13345': 0.0,
 'S13363': 0.0,
 'S13374': 0.0,
 'S13388': 0.0,
 'S13483': 0.0,
 'S13510': 0.0,
 'S13530': 0.0,
 'S13570': 0.0,
 'S13589': 0.0,
 'S13659': 0.0,
 'S13676': 0.0,
 'S13702': 0.0,
 'S13704': 0.0,
 'S13727': 0.0,
 'S13779': 1.0,
 'S13792': 0.0,
 'S13803': 0.0,
 'S13808': 0.0,
 'S13872': 0.0,
 'S13969': 0.0,
 'S13982': 1.0,
 'S14002': 0.0,
 'S14020': 0.0,
 'S14033': 0.0,
 'S14040': 0.0,
 'S14089': 0.0,
 'S14102': 0.0,
 'S14110': 0.0,
 'S14141': 0.0,
 'S14177': 0.0,
 'S14203': 0.0,
 'S14223': 0.0,
 'S14228': 0.0,
 'S14268': 0.0,
 'S14319': 0.0,
 'S14362': 0.0,
 'S14389': 0.0,
 'S14399': 0.0,
 'S14418': 0.0,
 'S14424': 0.0,
 'S14505': 0.0,
 'S14555': 0.0,
 'S14561': 0.0,
 'S14589': 0.0,
 'S14592': 0.0,
 'S14607': 0.0,
 'S14614': 0.0,
 'S14648': 0.0,
 'S14696': 0.0,
 'S14702': 0.0,
 'S14713': 0.0,
 'S14768': 0.0,
 'S15008': 0.0,
 'S15017': 0.0,
 'S15036': 0.0,
 'S15070': 0.0,
 'S15090': 0.0,
 'S15104': 0.0,
 'S15126': 0.0,
 'S15148': 0.0,
 'S15151': 0.0,
 'S15169': 0.0,
 'S15214': 0.0,
 'S15215': nan,
 'S15233': 0.0,
 'S15275': 0.0,
 'S15306': 0.0,
 'S15316': 0.0,
 'S15318': 1.0,
 'S15329': 0.0,
 'S15354': 0.0,
 'S15360': 0.0,
 'S15401': 0.0,
 'S15440': 1.0,
 'S15441': 0.0,
 'S15456': 0.0,
 'S15485': 0.0,
 'S15529': 0.0,
 'S15538': 0.0,
 'S15601': 0.0,
 'S15617': 0.0,
 'S15669': 1.0,
 'S15699': 0.0,
 'S15771': 1.0,
 'S15806': 0.0,
 'S15819': 0.0,
 'S15908': 0.0,
 'S15999': 0.0,
 'S16032': 0.0,
 'S16079': 0.0,
 'S16100': 1.0,
 'S16159': 0.0,
 'S16269': 1.0,
 'S16331': 0.0,
 'S16373': 0.0,
 'S16375': 0.0,
 'S16389': 0.0,
 'S16459': 0.0,
 'S16466': 0.0,
 'S16485': 0.0,
 'S16537': 0.0,
 'S16576': 0.0,
 'S16675': 0.0,
 'S16719': 0.0,
 'S16749': 0.0,
 'S16799': 0.0,
 'S16839': 0.0,
 'S16880': 0.0,
 'S16929': 0.0,
 'S16960': 0.0,
 'S17000': 0.0,
 'S17072': 0.0,
 'S17088': 0.0,
 'S17112': 1.0,
 'S17144': 0.0,
 'S17156': 0.0,
 'S17306': 0.0,
 'S17307': 0.0,
 'S17308': 0.0,
 'S17320': 0.0,
 'S17322': 0.0,
 'S17350': 0.0,
 'S17434': 0.0,
 'S17528': 0.0,
 'S17593': 0.0,
 'S17713': 1.0,
 'S17727': 0.0,
 'S17747': 1.0,
 'S17815': 1.0,
 'S17820': 0.0,
 'S17821': 0.0,
 'S17835': 0.0,
 'S17848': 0.0,
 'S17857': 1.0,
 'S17969': 0.0,
 'S17997': 0.0,
 'S18030': 0.0,
 'S18054': 0.0,
 'S18108': 0.0,
 'S18118': 0.0,
 'S18180': 0.0,
 'S18183': 0.0,
 'S18190': 0.0,
 'S18221': 0.0,
 'S18286': 0.0,
 'S18336': 0.0,
 'S18386': 0.0,
 'S18395': 0.0,
 'S18480': 0.0,
 'S18492': 0.0,
 'S18498': 0.0,
 'S18627': 0.0,
 'S18639': 0.0,
 'S18645': 0.0,
 'S18684': 1.0,
 'S18721': 0.0,
 'S18744': 0.0,
 'S18755': 0.0,
 'S18839': 0.0,
 'S18870': 0.0,
 'S18880': 0.0,
 'S18914': 0.0,
 'S18928': 1.0,
 'S18989': 0.0,
 'S19101': 0.0,
 'S19102': 0.0,
 'S19116': 1.0,
 'S19131': 0.0,
 'S19197': 0.0,
 'S19204': 0.0,
 'S19308': nan,
 'S19320': 0.0,
 'S19333': 0.0,
 'S19395': 0.0,
 'S19410': 0.0,
 'S19419': 0.0,
 'S19430': 0.0,
 'S19438': 0.0,
 'S19507': 1.0,
 'S19510': 0.0,
 'S19533': 0.0,
 'S19562': 0.0,
 'S19599': 0.0,
 'S19720': 0.0,
 'S19731': 0.0,
 'S19838': 0.0,
 'S19847': 0.0,
 'S19879': 0.0,
 'S19981': 1.0,
 'S20018': 0.0,
 'S20028': 1.0,
 'S20210': 0.0,
 'S20237': 0.0,
 'S20241': 0.0,
 'S20259': 0.0,
 'S20260': 0.0,
 'S20307': 0.0,
 'S20362': 0.0,
 'S20394': 1.0,
 'S20428': 0.0,
 'S20471': 0.0,
 'S20537': 0.0,
 'S20657': 0.0,
 'S20703': 0.0,
 'S20718': 0.0,
 'S20735': 0.0,
 'S20828': 0.0,
 'S20830': 0.0,
 'S20836': 0.0,
 'S20849': 0.0,
 'S20852': 0.0,
 'S20889': 0.0,
 'S20970': 0.0,
 'S21005': 0.0,
 'S21012': 0.0,
 'S21060': 0.0,
 'S21107': 0.0,
 'S21109': 0.0,
 'S21124': 1.0,
 'S21157': 1.0,
 'S21199': 0.0,
 'S21217': 0.0,
 'S21282': 1.0,
 'S21289': 0.0,
 'S21310': 0.0,
 'S21321': 0.0,
 'S21432': 0.0,
 'S21437': 0.0,
 'S21467': 0.0,
 'S21470': 1.0,
 'S21506': 0.0,
 'S21578': 0.0,
 'S21634': 0.0,
 'S21639': 0.0,
 'S21683': 0.0,
 'S21685': 0.0,
 'S21699': 0.0,
 'S21755': 0.0,
 'S21874': 0.0,
 'S21876': 0.0,
 'S21952': 0.0,
 'S22010': 0.0,
 'S22072': 1.0,
 'S22080': 1.0,
 'S22112': 0.0,
 'S22129': 0.0,
 'S22178': 0.0,
 'S22201': 0.0,
 'S22205': 0.0,
 'S22221': 0.0,
 'S22252': 0.0,
 'S22259': 0.0,
 'S22284': 1.0,
 'S22311': 0.0,
 'S22320': 0.0,
 'S22352': 0.0,
 'S22386': 1.0,
 'S22413': 0.0,
 'S22414': 0.0,
 'S22445': 0.0,
 'S22559': 0.0,
 'S22636': 1.0,
 'S22670': 0.0,
 'S22698': 0.0,
 'S22714': 0.0,
 'S22737': 1.0,
 'S22745': 0.0,
 'S22776': 0.0,
 'S22798': 0.0,
 'S22825': 0.0,
 'S22831': 0.0,
 'S22835': 0.0,
 'S22912': 0.0,
 'S22917': 0.0,
 'S22937': 0.0,
 'S23020': 0.0,
 'S23071': 0.0,
 'S23096': 1.0,
 'S23141': 0.0,
 'S23189': 0.0,
 'S23247': 0.0,
 'S23256': 0.0,
 'S23276': 0.0,
 'S23332': 1.0,
 'S23394': 0.0,
 'S23435': 0.0,
 'S23438': 0.0,
 'S23485': 0.0,
 'S23585': 0.0,
 'S23606': 0.0,
 'S23632': 0.0,
 'S23648': 0.0,
 'S23649': 0.0,
 'S23731': 0.0,
 'S23760': 0.0,
 'S23909': 0.0,
 'S23944': 0.0,
 'S23947': 0.0,
 'S23999': 0.0,
 'S24016': 0.0,
 'S24027': 0.0,
 'S24103': 0.0,
 'S24164': 0.0,
 'S24173': 0.0,
 'S24207': 0.0,
 'S24267': 0.0,
 ...}

In [19]:
fname.split('_')[0]

'S02709'

In [23]:
# data_dir = "time_series_data_LSTM_10_29_2024"  # the folder with patient CSVs
# all_dfs = []  # we will collect each patient’s time series into this list

# a = 0
# for fname in os.listdir(data_dir):
#     if fname.endswith(".csv"):
#         # e.g. fname = "R94565_combined.csv"
#         csv_path = os.path.join(data_dir, fname)
        
#         # parse out the ID from the filename
#         patient_id = fname.split('_')[0]   # "R94565"

#         # read the time series CSV for this patient
#         df_ts = pd.read_csv(csv_path)

#         # create an integer time index from row order
#         df_ts["time_idx"] = range(len(df_ts))
        
#         # add the patient ID as a column
#         df_ts["ID"] = patient_id
        
#         # look up AKI label from the dictionary
#         label_aki = label_dict[patient_id]
        
#         # add the label to each row
#         df_ts["Acute_kidney_injury"] = label_aki
        
#         # store for later
#         all_dfs.append(df_ts)

#         a = a+1
#         if a == 10:
#             break
# # after reading all CSVs, we can combine them
# df_merged = pd.concat(all_dfs, ignore_index=True)

In [39]:
import os
import pandas as pd
import numpy as np

def load_and_merge_csvs(data_dir, label_dict, debug=False, max_patients=10):
    """
    Load per-patient CSV files from data_dir, add the patient ID (parsed from filename),
    and attach the AKI label from label_dict.
    Returns a merged DataFrame.
    """
    all_dfs = []
    count = 0
    for fname in os.listdir(data_dir):
        if fname.endswith(".csv"):
            csv_path = os.path.join(data_dir, fname)
            # Assume ID is the first part of the filename separated by '_'
            patient_id = fname.split('_')[0]
            df_ts = pd.read_csv(csv_path)
            # Create a time index assuming rows are in order (one row per second)
            df_ts["time_idx"] = range(len(df_ts))
            # Add patient ID and label to every row
            df_ts["ID"] = patient_id
            df_ts["Acute_kidney_injury"] = label_dict.get(patient_id, 0)
            all_dfs.append(df_ts)
            count += 1
            if debug and count >= max_patients:
                break
    df_merged = pd.concat(all_dfs, ignore_index=True)
    return df_merged

def truncate_pad_series(df, fixed_length, pad_value=0):
    """
    For one patient's DataFrame df, truncate if length > fixed_length;
    if length < fixed_length, pad with pad_value.
    Assumes df is sorted by time_idx.
    Returns a DataFrame with exactly fixed_length rows.
    """
    current_length = len(df)
    if current_length >= fixed_length:
        # Truncate to fixed_length rows
        return df.iloc[:fixed_length].copy()
    else:
        # Create a DataFrame for padding with the same columns
        pad_df = pd.DataFrame(pad_value, index=range(fixed_length - current_length), columns=df.columns)
        # You might want to keep 'ID' and 'Acute_kidney_injury' constant:
        for col in ["ID", "Acute_kidney_injury"]:
            if col in df.columns:
                pad_df[col] = df.iloc[0][col]
        # Create a time_idx that continues the series
        pad_df["time_idx"] = range(current_length, fixed_length)
        # Append the pad_df to original df
        df_out = pd.concat([df, pad_df], ignore_index=True)
        return df_out


def pool_time_series(df, window_size=60, pooling_method='average'):
    """
    Pool a single patient's time series DataFrame over non-overlapping windows of size `window_size`.
    Each window is aggregated per column using the specified pooling method:
       'average' -> np.nanmean, 'max' -> np.nanmax, 'median' -> np.nanmedian.
    Returns a new DataFrame where the number of rows is ceil(original_length/window_size).
    Non-numeric columns (like 'ID', 'Acute_kidney_injury', and 'time_idx') are preserved.
    """
    # Determine which columns are time-series numeric features.
    exclude_cols = {"ID", "Acute_kidney_injury", "time_idx"}
    feature_cols = [col for col in df.columns if col not in exclude_cols and np.issubdtype(df[col].dtype, np.number)]
    
    pooled_data = []
    n = len(df)
    num_windows = int(np.ceil(n / window_size))
    
    for i in range(num_windows):
        start = i * window_size
        end = min((i + 1) * window_size, n)
        window = df.iloc[start:end]
        
        pooled_row = {}
        # Retain the patient ID and AKI label (assumed constant across rows)
        pooled_row["ID"] = window.iloc[0]["ID"]
        pooled_row["Acute_kidney_injury"] = window.iloc[0]["Acute_kidney_injury"]
        # For time_idx, we take the mean as a representative time.
        pooled_row["time_idx"] = window["time_idx"].mean()
        
        for col in feature_cols:
            if pooling_method == 'average':
                pooled_row[col] = np.nanmean(window[col])
            elif pooling_method == 'max':
                pooled_row[col] = np.nanmax(window[col])
            elif pooling_method == 'median':
                pooled_row[col] = np.nanmedian(window[col])
            else:
                raise ValueError(f"Unknown pooling method: {pooling_method}")
                
        pooled_data.append(pooled_row)
    
    return pd.DataFrame(pooled_data)

In [24]:
# Assuming you've already loaded your labels dictionary and merged your CSVs:
data_dir = "time_series_data_LSTM_10_29_2024"
# label_dict was created earlier from imputed_demo_data.xlsx
df_merged = load_and_merge_csvs(data_dir, label_dict, debug=True, max_patients=100)

In [25]:
df_merged

,TVexp,MVexp,RRtotal,Circuit_O2,Pmean,TVinsp,MVinsp,PEEPe_i,CO,CI,...,rSO2_Ch1,rSO2_Ch2,rSO2_Ch3,SpO2,ET_CO2,TEMP,FiO2,time_idx,ID,Acute_kidney_injury
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100.0,0.0,NaN,NaN,0,R94565,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100.0,0.0,NaN,NaN,1,R94565,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100.0,0.0,NaN,NaN,2,R94565,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100.0,0.0,NaN,NaN,3,R94565,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100.0,0.0,NaN,NaN,4,R94565,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1415705,405.0,4.88,12.0,100.0,9.0,449.0,5.42,5.9,5.67,3.21,...,74.0,74.0,81.0,100.0,30.0,NaN,100.0,12025,S04861,0.0
1415706,405.0,4.88,12.0,100.0,9.0,449.0,5.42,5.9,5.67,3.21,...,74.0,74.0,81.0,100.0,30.0,NaN,100.0,12026,S04861,0.0
1415707,396.0,4.86,12.0,100.0,9.0,451.0,5.42,5.9,5.67,3.21,...,74.0,74.0,81.0,100.0,30.0,NaN,100.0,12027,S04861,0.0
1415708,396.0,4.86,12.0,100.0,9.0,451.0,5.42,5.9,5.67,3.21,...,74.0,74.0,81.0,100.0,30.0,NaN,100.0,12028,S04861,0.0
1415709,396.0,4.86,12.0,100.0,9.0,451.0,5.42,5.9,5.67,3.21,...,74.0,74.0,81.0,100.0,30.0,NaN,100.0,12029,S04861,0.0

In [37]:
# Option 1: Truncate/pad each patient's series to a fixed length.
# Let's say we want exactly 3 hours of data at 1-second sampling -> 3 * 3600 = 10800 points.
fixed_length = 10800

# Process each patient group (by ID)
dfs_fixed = []
for patient_id, group in df_merged.groupby("ID"):
    # Make sure group is sorted by time_idx
    group_sorted = group.sort_values("time_idx")
    processed = truncate_pad_series(group_sorted, fixed_length=fixed_length, pad_value=0)
    dfs_fixed.append(processed)
    
df_fixed = pd.concat(dfs_fixed, ignore_index=True)
print("Fixed-length data shape:", df_fixed.shape)

Fixed-length data shape: (1080000, 29)

In [27]:
df_fixed

,TVexp,MVexp,RRtotal,Circuit_O2,Pmean,TVinsp,MVinsp,PEEPe_i,CO,CI,...,rSO2_Ch1,rSO2_Ch2,rSO2_Ch3,SpO2,ET_CO2,TEMP,FiO2,time_idx,ID,Acute_kidney_injury
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.0,81.0,80.0,100.0,0.0,NaN,NaN,0,R00118,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.0,81.0,80.0,100.0,0.0,NaN,NaN,1,R00118,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.0,81.0,80.0,100.0,0.0,NaN,NaN,2,R00118,0.0
3,NaN,NaN,NaN,93.0,0.0,NaN,NaN,0.0,NaN,NaN,...,76.0,81.0,80.0,100.0,0.0,NaN,93.0,3,R00118,0.0
4,NaN,NaN,NaN,93.0,0.0,NaN,NaN,0.0,NaN,NaN,...,76.0,81.0,80.0,100.0,0.0,NaN,93.0,4,R00118,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079995,372.0,4.79,13.0,58.0,6.0,404.0,5.21,2.3,5.18,2.97,...,72.0,74.0,74.0,100.0,28.0,35.11,58.0,10795,T83969,0.0
1079996,374.0,4.81,13.0,58.0,6.0,404.0,5.22,2.2,5.15,2.95,...,72.0,74.0,74.0,100.0,28.0,35.11,58.0,10796,T83969,0.0
1079997,374.0,4.81,13.0,58.0,6.0,404.0,5.22,2.2,5.43,3.11,...,72.0,74.0,74.0,100.0,27.0,35.11,58.0,10797,T83969,0.0
1079998,374.0,4.81,13.0,58.0,6.0,404.0,5.22,2.2,5.42,3.11,...,72.0,74.0,74.0,100.0,27.0,35.11,58.0,10798,T83969,0.0
1079999,374.0,4.81,13.0,58.0,6.0,404.0,5.22,2.2,5.16,2.96,...,72.0,74.0,74.0,100.0,27.0,35.11,58.0,10799,T83969,0.0

In [40]:
# Option 2: Pooling over 60-second windows.
# For a 3-hour period, 3*3600/60 = 180 windows.
# Process each patient group
dfs_pooled = []
for patient_id, group in df_merged.groupby("ID"):
    group_sorted = group.sort_values("time_idx")
    # If you need exactly 3 hours, first truncate/pad as needed:
    group_fixed = truncate_pad_series(group_sorted, fixed_length=10800, pad_value=0)
    pooled = pool_time_series(group_fixed, window_size=60, pooling_method='average')
    dfs_pooled.append(pooled)
    
df_pooled = pd.concat(dfs_pooled, ignore_index=True)
print("Pooled data shape:", df_pooled.shape)

/var/folders/px/d6yfk3wn5xnc9b_s69cbw93m0000gn/T/ipykernel_52885/3569846055.py:86: RuntimeWarning: Mean of empty slice
  pooled_row[col] = np.nanmean(window[col])

Pooled data shape: (18000, 29)

In [41]:
df_pooled

,ID,Acute_kidney_injury,time_idx,TVexp,MVexp,RRtotal,Circuit_O2,Pmean,TVinsp,MVinsp,...,SYS,DIA,HRV,rSO2_Ch1,rSO2_Ch2,rSO2_Ch3,SpO2,ET_CO2,TEMP,FiO2
0,R00118,0.0,29.5,NaN,NaN,NaN,93.000000,0.0,NaN,NaN,...,102.000000,102.000000,NaN,76.150000,81.116667,78.716667,100.000000,0.000000,NaN,93.000000
1,R00118,0.0,89.5,NaN,NaN,NaN,93.200000,0.0,NaN,NaN,...,102.000000,102.000000,NaN,75.916667,81.316667,75.216667,100.000000,0.000000,NaN,93.200000
2,R00118,0.0,149.5,NaN,NaN,NaN,93.666667,0.0,NaN,NaN,...,102.000000,102.000000,NaN,76.166667,81.233333,76.450000,100.000000,0.000000,NaN,93.666667
3,R00118,0.0,209.5,NaN,NaN,NaN,93.816667,0.0,NaN,NaN,...,102.000000,102.000000,NaN,75.566667,80.916667,78.000000,100.000000,0.000000,NaN,93.816667
4,R00118,0.0,269.5,NaN,NaN,NaN,94.000000,0.0,NaN,NaN,...,102.000000,102.000000,NaN,75.250000,80.150000,79.000000,99.686667,0.000000,NaN,94.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,T83969,0.0,10529.5,369.933333,4.795833,13.0,58.000000,6.0,401.233333,5.205333,...,108.933333,49.133333,0.538483,71.850000,74.683333,74.533333,100.000000,27.722222,35.118491,58.000000
17996,T83969,0.0,10589.5,368.116667,4.805000,13.0,58.000000,6.0,399.433333,5.210167,...,106.600000,51.200000,0.572383,72.000000,74.900000,76.516667,100.000000,27.620690,35.115763,58.000000
17997,T83969,0.0,10649.5,368.800000,4.776000,13.0,58.000000,6.0,400.533333,5.185333,...,106.933333,54.133333,1.898917,71.833333,74.516667,73.900000,100.000000,28.067797,35.111379,58.000000
17998,T83969,0.0,10709.5,368.233333,4.789333,13.0,58.000000,6.0,399.116667,5.196333,...,106.033333,53.183333,0.465167,71.883333,74.516667,73.550000,100.000000,28.053571,35.111404,58.000000
17999,T83969,0.0,10769.5,369.983333,4.791167,13.0,58.000000,6.0,401.500000,5.195000,...,104.266667,52.300000,0.451500,71.766667,74.350000,73.700000,100.000000,28.052632,35.110517,58.000000

In [42]:
np.nanmean([1,  1,1,  1,1,  1,1,  1,1,  1, np.nan])

np.float64(1.0)